.card-header {
  width: 100%;
  padding: 5px 0;
  background: lightgray;
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card-image {
  height: 120px;
  margin: 20px 0;
}
.card-price {
  color: black;
  border-radius: 5px;
  font-size: 1.2em;
}
.card-button {
  width: 100%;
  padding: 6px 0;
  background: lightgray;
  color: black;
  cursor: pointer;
  border: 0;
  font-size: 1.2em;
}
.card-button:hover {
  transition: background 0.25s ease-out;
  background: grey;
}
