.App {
  text-align: center;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.items {
  list-style-type: none;
  display: grid;
  grid-template-columns: 250px 250px;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.card-header {
  width: 100%;
  padding: 5px 0;
  background: lightgray;
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card-image {
  height: 150px;
  margin: 30px 0;
}
.card-price {
  color: black;
  border-radius: 5px;
  font-size: 1.2em;
}
.card-button {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 100%;
  padding: 6px 0;
  background: lightgray;
  color: black;
  cursor: pointer;
  border: 0;
  font-size: 1.4em;
}
.card-button:hover {
  transition: background 0.25s ease-out;
  background: grey;
}
