.App {
  text-align: center;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.items {
  list-style-type: none;
  display: grid;
  grid-template-columns: 250px 250px;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}
